<html>
	<body>
		<h1>Welcome to Starlight and Sid's Wedding</h1>
		<p>Fill out the form below to RSVP. Please RSVP by March 30th.</p>
		<form>
			<label for="name">Name: </label>
  			<input type="text" id="name" name="name"><br>
			<p>Dietary Restrictions:</p>
			<input type="checkbox" id="none" name="none" value="none">
			<label for="none">None</label><br>
			<input type="checkbox" id="vegetarian" name="vegetarian" value="vegetarian">
			<label for="vegetarian">Vegetarian</label><br>
			<input type="checkbox" id="vegan" name="vegan" value="vegan">
			<label for="vegan">Vegan</label><br>
			<input type="checkbox" id="othercheck" name="othercheck" value="othercheck">
			<label for="othercheck">Other. Please specify below.</label><br>
			<input type="text" id="other" name="other"><br><br>
			<input type="submit" value="Submit">
		</form>
		<p>Gifts aren't required but are very much appreciated.</p>
		<form>
         		<button type="submit" formaction="https://www.amazon.com/wedding/share/sidandstarlight2022">Go to Registry</button>
      		</form>
	</body>
</html>
