<html>
	<body>
		<h1>Welcome to Starlight and Sid's Wedding</h1>
		<p>Fill out the form below to RSVP. Please RSVP by March 30th.</p>
		<form action="/" method="POST">
			<div>
				<label for="name">Name:</label>
  				<input type="text" id="name" name="name"><br>
			</div>

			<div>
				<p>Dietary Restrictions:</p>
				<input type="checkbox" id="none" name="none" value="None">
				<label for="none">None</label><br>
				<input type="checkbox" id="vegetarian" name="vegetarian" value="Vegetarian">
				<label for="vegetarian">Vegetarian</label><br>
				<input type="checkbox" id="vegan" name="vegan" value="Vegan">
				<label for="vegan">Vegan</label><br>
				<input type="checkbox" id="other" name="other" value="Other">
				<label for="other">Other. Please specify below.</label><br>
				<input type="text" id="otherDiet" name="otherDiet"><br>
			</div>

			<div>
				<p>Attending: </p>
				<input type="radio" id="attending" name="attending" value="attending">
  				<label for="attending">Yes</label>
				<input type="radio" id="not-attending" name="not-attending" value="not-attending">
				<label for="not-attending">No</label><br><br>
			</div>
			<div>
				<input type="submit" value="Submit">
			</div>
		</form>
		<p>Gifts aren't required but are very much appreciated.</p>
		<form>
         		<button type="submit" formaction="https://www.amazon.com/wedding/share/sidandstarlight2022">Go to Registry</button>
      		</form>
	</body>
</html>
